<div data-th-fragment="course_content_table(chapter, iter)">
		<button class="collapsible primary" data-th-text="|${iter.count}. ${chapter.title}|"></button>
		<div class="content">
			<div data-th-each="lecture : ${chapter.lectures}" data-th-object="${lecture}">
			<br />
				<button class="collapsible secondary" data-th-text="*{title}"></button>								
				<div class="content">
					<p data-th-text="*{description}"></p>
					<!--<p data-th-text="${#strings.substring(lecture.duration,2)}"></p>-->
				</div>
			</div>
		</div>
		<br />
		
</div>