<div class="ui link cards" data-th-fragment="display_classes(classList))">
	
	
			<div class="card" data-th-each="course : ${classList}">
                <div class="image">
                    <img src="/images/spring_social_2_cloud_part_3_oauth2.jpg">
                </div>
                <div class="content">
                    <div class="header" data-th-text="${course.title}">OAuth2 sign in</div>
                    <div class="meta">
                       Level <a data-th-text="${course.levelInYears}"></a>
                    </div>
                    <div class="description" data-th-text="${course.shortDescription}"></div>
                </div>
                <div class="extra content">
                    <div class="center aligned meta">
                        <a href="https://youtu.be/40BxatEr5aE" target="_blank"><i class="ui youtube icon"></i></a>
                    </div>
                </div>
                <form class="ui form" method="POST" action="@{/enroll}">
                	<input type="submit" value="Enroll" />
                </form>
            </div>
	
</div>
        
        