<div class="ui padded basic segment" data-th-fragment="top_menu(activeMenu)">
  <div class="ui large secondary pointing menu">
    <a class="item" data-th-href="@{/products/averageboys}" data-th-classappend="${(activeMenu eq 'averageboys') ? 'active' : ''}">Classes</a>
    <a class="item" data-th-href="@{/products/averageboys/about}" data-sec-authorize="isAuthenticated()" data-th-classappend="${(activeMenu eq 'about') ? 'active' : ''}">About</a>
    <div class="center aligned header item">
      <h1 style="color:#50b33a">Average Boys</h1>
    </div>

    <div class="right item" style="margin-left: 0% !important;">
      <a class="ui secondary basic button" style="margin-right: 1em" data-th-href="@{/login}" data-sec-authorize="!isAuthenticated()">Log in</a>
      <a class="ui secondary basic button" data-th-attr="onclick=|$('#logout_form').submit();|" data-sec-authorize="isAuthenticated()">Log out</a>
      <form id="logout_form" data-th-action="@{/logout}" method="post"></form>
      <a class="ui secondary basic button" data-sec-authorize="!isAuthenticated()" data-th-href="@{/user/sign-up}">Sign up</a>
    </div>
  </div>
</div>