:root {
	
	/*color;*/
	 --primary-color:#994e78;
	 
	--purple-deep-color: #8f0050;
	--purple-light-color: #994e78!important;
	
	/*Ttext*/
	--text-color:#071f42!important;
	 --primary-text-color: brown;
	 --secondary-text-color: brown;
	
	 --primary-ligh-text-color: rgb(255, 255, 255);
	 --secondary-selected-text-color: brown;
	
	 --primary-hover-text-color: brown;
	 --secondary-hover-text-color: brown;
	
	/*Background*/ 
	 --main-bg-color: rgb(128, 128, 128);
	  --main-light-bg-color: rgb(128, 128, 128);
	 
	 --no-bg-color: rgb(255, 255, 255);
	
	 --primary-bg-color: rgba(0,0,30)!important;
	 --secondary-bg-color: brown;
	
	 --primary-light-bg-color: brown;
	 --secondary-light-bg-color: brown;
	 
	  --secondary-bg-color:#0d1f68;
	 --primary-light-bg-color: brown;
	
	
	/*Font-size*/
	--top-level-banner-font-size: xx-large;
	--second-level-banner-font-size: x-large;
	--third-level-banner-font-size: large;
	
	--top-level-element-font-size: large;
	--second-level-element-font-size: large;
	--third-level-element-font-size: large;
	
	--button-font-size:large;
	
	
	
	--white: #fff;
}