<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" data-th-replace="~{products/average-boys/fragments/skeleton::layout('courses',  ~{::#home_content})}">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
   
</head>
<body>
<!--<div data-th-replace="~{fragments/menu::top_menu('classes')}"></div> -->
<div id="home_content" class="ui container">
    <div class="ui padded segment">
		<!--<hi data-th-text="(${#lists.size(listClasses)}">Hello</hi>-->
		<!--[[${listClasses.?[courseCode eq 'dsa']}]]-->
        <div data-th-replace="~{products/average-boys/fragments/tabs::top_tabs(${listClasses})}"></div>
       <!-- <ul>
        	<li data-th-each="c :${listClasses}" data-th-text="${c}"></li>
        </ul>-->

    </div>
</div>
</body>
</html>