<!doctype html>
<html lang="en">
<head>

</head>
<body>
<div class="element" data-th-fragment="our_mission" style="column-count: 2">
<h1 th:style="'font-size: 30px'">Our Mission</h1>
<p th:style="'font-size: 20px'" class="par">In the competitive IT industry, securing a job is just the beginning. To thrive, focus on continuous learning, specialize, network, hone problem-solving and soft skills, master coding and cybersecurity, embrace agility, stay informed, build a portfolio, seek mentorship, and maintain work-life balance. Your path to success starts here. <br>Best of luck in your IT career!
</p>
<div class="element">
    <img class="eighty" data-th-src="@{/images/ourMission.jpg}">
</div>
</div>
</body>
</html>